.about {
    color: #2F2E2E;
    height: auto;
    padding-top: 85px;
}

.about-image img {
    background-size: cover;
}

.about h2 {
    font-size: 30px;
    margin: 0 0 55px 0;
    color: #494949;
    text-align: center;
}

.about-info {
    display: inline-flex;
}

.about-logo {
    width: 150px;
}

.about-text {
    padding: 0 15px 40px 50px ;
    text-align: justify;
    width: 50%;
}

.about-diff {
    background-color: #fea501;
    border-radius: 5px 5px 0 0;
    padding-left: 15px;
    width: 50%;
    height: 100%;
}

.about-diff h3 {
    color: white;
    font-size: 24px;
    padding: 15px;
    margin: 0;
    text-align: center;
}

.about-diff p {
    color: white;
    padding: 5px 20px 20px 20px;
    max-width: 500px;
    text-align: justify;
}

.about-diff svg {
    height: 50px;
    width: 50px;
    padding: 20px 20px 20px 20px;
    fill: white;
}

.about-diff .about-diff-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.about-diff .about-diff-container div {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 80px 80px 80px;
}

