@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}


.primary-color {
    color: #ff5500;
}


/* region Animations */

.slide-up-enter {
    opacity: 0;
    transform: translateY(50px);
}

.slide-up-enter-active {
    opacity: 1;
    transition: all  1s linear;
    transform: translateY(0px);
}

.slide-up-exit {
    opacity: 1;
}
.slide-up-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1.5s;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 1.5s;
}

/* endregion Animations */