.service {
    background-color: #ececec;
    height: 700px;
}

.service h2 {
    background-color: #fea501;
    color: white;
    font-size: 30px;
    padding: 85px 0 30px 0;
    margin-top: 0;
    text-align: center;
}
