.portfolio {
    align-items: center;
    background-color: #fea501;
    display: flex;
    flex-direction: column;
    height: 950px;
}

.portfolio h2 {
    color: white;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.portfolio-images {
    display: grid;
    padding-right: 15px;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 250px);
    gap: 20px;
}

.portfolio-images img {
    height: 250px;
    padding: 10px 10px 10px 10px;
    width: 250px;
}