.contact {
    width: 100%;
}

.contact h2 {
    color: #494949;
    font-size: 30px;
    margin: 85px 0 30px 0;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-form {
    height: 500px;
    text-align: center;
    width: 50%;
}

.contact-map {
    width: 50%;
    position: relative;
}

.contact-map .map-center iframe {
    height: 450px;
    margin: 0 auto 0 auto;
    width: 80%;
}

button {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #3fc1c9;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .15s ease-in;
}

.contact-text {
    padding: 0 15px 40px 0;
    text-align: justify;
    width: 50%;
}


/* Segura aqui a .38 do pai que eu vou no stackoverflow */

:focus{outline: none;}

.col-3{float: none; width: 28.33%; margin: 2% 35%; position: relative;} /* necessary to give position: relative to parent. */
input{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
textarea{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px; resize: none;}

.effect-1 {border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color:#fea501; transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}

#appearance-select{
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
    -moz-appearance: none; /* Remove estilo padrão do FireFox */
    appearance: none; /* Remove estilo padrão do FireFox*/
    width: 100%; /* Tamanho do select, maior que o tamanho da div "div-select" */
    height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    border:1px solid #fea501;
    padding-left: 4px;
}

h3{
    color:#fea501;
    font-weight: bold;
}

button{
   background-color: #fea501;
}

button:hover{
    background-color: #fea501c5;
}

button:active{
    background-image: linear-gradient(#fe7b01e7, #fea50133);
}